section.about
  .container.about__inner
    +about(1, "High Security", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa itaque")
    +about(2, "Free Domain", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa itaque")
    +about(3, "99.9% Uptime", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa itaque")