section.blog
  .container
    +section__header('Blog', 'Get Our Latest Posts')
    .blog__content
      +blog(1, 'Domain', '50 Best Web Hosting Company', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque')
      +blog(2, 'Hosting', '50 Best Web Hosting Company', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque')
      +blog(3, 'Trending', '50 Best Web Hosting Company', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis tincidunt nulla, nec venenatis neque')          