section.features
  .container
    .features__top
      .features__top--bg
        img(src="img/fea/fea1.png" alt="#")
      +features("Start Your Website Now!", "SmartHost web hosting provides a vast array of tools to take your idea or business online today. From site building tools and templates, to our one-click application installer, you'll find everything you need to launch your new website. Got questions? Our 24/7 Live Support team is here to help!", "99.98 server uptime with better cloud hosting adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation")
    .features__bot
      +features("Get Started Quickly & Easily", "For example, our own Website Builder provides an incredibly convenient drag-and-drop building experience. You can choose from a wide selection of themes, and even pre-built sections, to craft your own amazing website and publish it in no time!", "99.98 server uptime with better cloud hosting adipisicing elit, sed do eiumod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation")
      .features__bot--bg
        img(src="img/fea/fea2.png" alt="#")