header.header
  .container.header__inner
    .header__left
      .header__items
        i.ti-email.header__icon
        a(href="mailto:example@example.com").header__text  example@example.com
      .header__items
        i.ti-mobile.header__icon
        a(href="tel:+5192964292").header__text  +1 519-296-4292
    .header__right
      .header__items
        i.ti-user.header__icon
        a(href="#").header__text  Register
      .header__items
        i.ti-share.header__icon
        a(href="#").header__text  Login
      .header__items
        i.ti-headphone-alt.header__icon
        a(href="#").header__text  Live Chat