nav.nav
  .container.nav__inner
    a.nav__logo
      img(src="img/logo/logo1.png" alt="Top Logo").nav__logo--img
    ul.nav__menu
      +menu("Home")
      +menu("Hosting")
      +menu("Page")
      +menu("Blog")
      +menu("Contact Us")