section.order
  .container.order__inner
    h2.order__left Start your Unlimited Hosting Today!
    .order__right
      span.order__text Starting at only #[span $8.99] / month
      a(href="#").order__btn.btn--blue Order Now