section.ser
  .container.ser__inner
    +section__header('Our Services','We Provide Many Services')
    .ser__container
      +ser(1, 'Resellers Hosting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
      +ser(2, 'Shared Hosting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
      +ser(3, 'Dedicated Hosting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
      +ser(4, 'Cloud Hosting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
      +ser(5, 'Data Transfer', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')
      +ser(6, 'Domain Sale', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit')