section.slider
  .slider__bg
  .slider__nav
    .slider__nav--left
      i.ti-arrow-left
    .slider__nav--right
      i.ti-arrow-right
  .container.slider__inner
    .slider__1
      .slider__bg1
        img(src="img/slider/slider1.png" alt="" srcset="")
      +slider("Powerful Hosting Services")
    .slider__2
      +slider("WordPress Hosting Plan")
      .slider__bg2
        img(src="img/slider/slider2.png" alt="" srcset="")