section.tes
  .container
    +section__header('Client Says','We Respect Our Customers Opinions')
    .tes__content
      .tes__arrow
        i.ti-arrow-left
      .tes__box
        img(src="img/tes/tes1.jpg" alt="").tes__ava
        p.tes__detail Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis risus vel leo molestie hendrerit sed sed mi. Vestibulum in consequat orci. Nam auctor, eros eu aliquam semper nisl erat tristique massa sit amet
        - for (let i = 0; i < 5; i++)
          img(src="img/star.png" alt="#")
        h5.tes__name Margaret Robinson
      .tes__arrow
        i.ti-arrow-right